vendor
.idea
.env

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.php-cs-fixer.cache
.DS_Store
.phpunit.result.cache



docker/data